/* =============
    Base
============= */

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

.spacing-for-header{
    margin-top: 58px;

    @include md{
        margin-top: 60px;
    }

    @include lg{
        margin-top: 80px;
    }
}

.big-spacing {
    margin-bottom: 90px;

    @include md {
        margin-bottom: 125px;
    }

    @include lg {
        margin-bottom: 150px;
    }
}

.medium-spacing {
    margin-bottom: 30px;

    @include md {
        margin-bottom: 40px;
    }

    @include lg {
        margin-bottom: 50px;
    }
}

.small-spacing {
    margin-bottom: 15px;

    @include md {
        margin-bottom: 20px;
    }

    @include lg {
        margin-bottom: 25px;
    }
}



.show-for-md {
    display: none;

    @include md {
        display: block;
    }
}

.show-for-lg {
    display: none;

    @include lg {
        display: block;
    }
}

.show-for-mobile {
    display: flex !important;

    @include md {
        display: none !important;
    }
}

.show-for-tablet {
    display: none !important;

    @include md {
        display: flex !important;
    }
}

.show-for-desktop {
    display: none !important;

    @include lg {
        display: flex !important;
    }
}

a:link,
a:visited {
    text-decoration: none;
}