/* =============
    Base
============= */

body{
    overflow-x: hidden;
    background-color: $bkgd-gray;
}


ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}


.main-hero-grid{
    display: grid;
    grid-template-columns: 0px auto 0px;
    grid-template-areas: ". container .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: container;
    }
}

.grid-container{
    display: grid;
    grid-template-columns: 0px auto 0px;
    grid-template-areas: ". container .";

    @include xl{
        grid-template-columns: auto 1280px auto;
    }

    >div{
        grid-area: container;
    }
}

.header-grid-container{
    display: grid;
    grid-template-columns: 0px auto 0px;
    grid-template-areas: ". container .";

    @include xl{
        grid-template-columns: auto 1400px auto;
    }

    >div{
        grid-area: container;
    }
}

.content-layout{
    
    @include xl{
        display: grid;
        grid-template-areas: ". grid-xl .";
        grid-template-columns: auto 1440px auto;

        >div{
            grid-area: grid-xl;
        }
    }
    
}

.spacing-for-header{
    margin-top: 58px;

    @include md{
        margin-top: 58px;
    }

    @include lg{
        margin-top: 76px;
    }
}

.big-spacing {
    margin-bottom: 90px;

    @include md {
        margin-bottom: 125px;
    }

    @include lg {
        margin-bottom: 150px;
    }
}

.medium-spacing {
    // margin-bottom: 30px;
    margin-bottom: 15px;

    @include md {
        // margin-bottom: 40px;
        margin-bottom: 20px;
    }

    @include lg {
        // margin-bottom: 50px;
        margin-bottom: 25px;
    }
}

.small-spacing {
    // margin-bottom: 15px;
    margin-bottom: 7px;

    @include md {
        // margin-bottom: 20px;
        margin-bottom: 10px;
    }

    @include lg {
        // margin-bottom: 25px;
        margin-bottom: 15px;
    }


}

.xs-spacing{
    margin-bottom: 10px;
}



.show-for-md {
    display: none;

    @include md {
        display: block;
    }
}

.show-for-lg {
    display: none;

    @include lg {
        display: block;
    }
}

.show-for-mobile {
    display: flex !important;

    @include md {
        display: none !important;
    }
}

// .show-for-tablet {
//     display: none !important;

//     @include md {
//         display: flex !important;
//     }
// }

// .show-for-desktop {
//     display: none !important;

//     @include lg {
//         display: flex !important;
//     }
// }

a:link,
a:visited {
    text-decoration: none;
    transition: 0.25s;
}


.portfolio-title{
    font-family: 'Inter', sans-serif;
    // font-size: rem-calc(25);
    font-size: rem-calc(30);
    font-weight: 600;
    line-height: rem-calc(42);
    // margin: 30px 20px 15px 20px;
    margin: 30px 20px 5px 20px;
    
    color: $gray;

    @include md{
        // font-size: rem-calc(28);
        font-size: rem-calc(35);
        line-height: rem-calc(47);
        // margin: 40px 25px 20px 25px;
        margin: 40px 25px 10px 25px;
    }

    @include lg{
        // font-size: rem-calc(30);
        font-size: rem-calc(40);
        // margin: 50px 45px 25px 45px;
        margin: 50px 45px 15px 45px;
    }

    @include xl{
        // margin: 50px 0px 25px 0px;
        margin: 50px 0px 15px 0px;
    }


}

.portfolio-subtitle{
    font-family: 'Inter', sans-serif;
    font-size: rem-calc(15);
    font-weight: 500;
    // margin: 0px 20px 30px 20px;
    margin: 0px 20px 20px 20px;
    line-height: rem-calc(22);
    color: $gray;

    @include md{
        // margin: 0px 25px 40px 25px;
        margin: 0px 25px 30px 25px;
    }

    @include lg{
        // margin: 0px 45px 50px 45px;
        margin: 0px 45px 40px 45px;
    }

    @include xl{
        // margin: 0px 0px 50px 0px;
        margin: 0px 0px 40px 0px;
    }
}

.portfolio-section{
    font-family: 'Inter', sans-serif;
    font-size: rem-calc(20);
    font-weight: 500;
    // margin: 0px 20px 15px 20px;
    margin: 0px 20px 5px 20px;
    // color: $gray;
    color: $light-blue;

    @include md{
        // margin: 0px 0px 20px 0px;
        margin: 0px 0px 10px 0px;
    }

    @include lg{
        // margin: 0px 0px 25px 0px;
        // margin: 0px 45px 20px 45px;
        margin: 0px 45px 10px 45px;
    }

    @include xl{
        // margin: 0px 0px 25px 0px;
        margin: 0px 0px 10px 0px;
    }
}

.portfolio-description{
    font-family: 'Inter', sans-serif;
    font-size: rem-calc(15);
    font-weight: 300;
    line-height: rem-calc(23);
    // margin: 0px 20px 30px 20px;
    margin: 0px 20px 20px 20px;
    color: $gray;
    text-align: left;

    @include md{
        // margin: 0px 0px 40px 0px;
        // margin: 0px 0px 30px 0px;
        margin: 0px 0px 20px 0px;
    }

    @include lg{
        // margin: 0px 0px 25px 0px;
        // margin: 0px 45px 40px 45px;
        margin: 0px 45px 20px 45px;
    }

    @include xl{
        // margin: 0px 0px 50px 0px;
        // margin: 0px 0px 40px 0px;
        margin: 0px 0px 30px 0px;
    }
    
}


.pull-quotes{
    font-family: 'Gelasio', serif;
    font-size: rem-calc(17);
    font-weight: 700;
    margin: 0px 20px 10px 20px;
    color: $light-blue;
    text-align: center;

    @include md{
        font-size: rem-calc(19);
    }

    @include lg{
        font-size: rem-calc(20);
    }
}


.image-container {
    height: 35vh;
    
    // a{
    //     height: 100%;
    //     width: 100%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     background-color:rgba(0,0,0,0.45);
    // }


    // @include md{
        height: 35vh;

        a{
            height: 100%;
            width: 100%;
            display: flex;
            // justify-content: center;
            // align-items: center;
            justify-content: left;
            align-items: flex-start;
            
            background-color:rgba(0,0,0,0);
           
            >div{
                display: none;
                // transition: 0.25s;
                transition: 0.15s; 
            }
    
            &:hover, &:active{
                // background-color:rgba(0,0,0,0.3);
                background-color:$light-blue;
                >div{
                    display: block;
                    
                }
            }
        }
    // }

    
}

.first {


    background: $white;
}

.second {


    background: $white;
}


.line {
    
    display: flex;
    align-items: center;
    justify-content: center;

    >div{
        border-top: 2px solid $gray;
        width: 130px;
    }

}