/* =============
    about-1
============= */
#about {

    @include lg{
        padding-top: 50px;
    }
    

    >div {
        @include lg {
            display: grid;
            grid-template-areas: "aside article";
            grid-template-columns: 50% auto;
        } 

        aside {
            img{
                object-position: center;
                object-fit: contain;
                width: 100%;

                @include md{
                    object-fit: cover;
                }

                @include lg{
                    object-fit: contain;
                }
            }

            @include md{
                // margin: 0px 394px 0px 25px;
                // margin: 0px 25px;
                
                img{
                    height: 60vh;
                }
            }

            @include lg{
                // margin: 0px 50px 150px 45px;
                margin: 0px 0px 150px 45px;
                
                img{
                    height: 100%;
                }
            }

            @include xl{
                margin: 0px 50px 150px 45px;
            
            }
        }

        article {
            font-family: 'Inter', sans-serif;
            font-size: rem-calc(14.5);
            font-weight: 300;
            line-height: rem-calc(23);
            margin: 30px 20px 90px 20px;
            text-align: left;

            @include md {
                // margin: 40px 106px 125px 300px;
                // margin: 40px 350px 125px 40px;
                margin: 40px 40px 125px 350px;
            }


            @include lg {
                grid-area: article;
                margin: 0px 45px 150px 50px;
            }

            


            #me{
                p {
                    margin-bottom: 15px;
    
                    @include md {
                        margin-bottom: 20px;
                    }

                    
                }

                p:nth-child(1) {
                    font-family: 'Gelasio', serif;
                    font-weight: 600;
                    font-size: rem-calc(30);
                    line-height: rem-calc(33);
                    // margin: 30px 20px 90px 20px;
                    color: $light-blue;
                    text-align: left;
    
                    @include md {
                        margin-bottom: 20px;
                        font-size: rem-calc(35);
                    line-height: rem-calc(37);
                    }
    
                    @include lg{
                        font-size: rem-calc(40);
                        line-height: rem-calc(43);
                    }
                }

                span {
                    display: block;
                    font-weight: 600;
                    a:link,
                    a:visited{
                        color: $light-blue;
                        transition: 0.25s;
                    }
    
                    a:hover,
                    a:active{
                        color: $dark-blue;
                    }
                }
    
                p:nth-child(6){
                    font-weight: 600;
    
                    a:link,
                    a:visited{
                        color: $light-blue;
                        transition: 0.25s;
                    }
    
                    a:hover,
                    a:active{
                        color: $dark-blue;
                    }
                }
            }
            
            #contact-section{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                li{
                    margin-right: 15px;
                    
                    a:link,
                    a:visited{
                    color: $black;
                    transition: 0.25s;
                    }

                    a:hover,
                    a:active{
                    color: $light-blue;
                    }

                    i{
                        font-size: rem-calc(25);
                        // color: $black;

                        @include md{
                            font-size: rem-calc(25); 
                        }

                        @include lg{
                            font-size: rem-calc(25); 
                        }

                    }

                }
            }

            #resume{

                li{
                    a:link,
                    a:visited{
                    color: $gray;
                    background-color: $white;
                    transition: 0.25s;
                    padding: 5px 5px;
                    border-radius: 3px;
                    border: solid 2px $gray;
                    }

                    a:hover,
                    a:active{
                    background-color: $light-blue;
                    color: $white;
                    padding: 5px 5px;
                    border-radius: 3px;
                    border: solid 2px $light-blue;
                    }

                    p{
                        font-family: 'Inter', sans-serif;
                        font-size: rem-calc(16);
                        font-weight: 400;
                        display: inline-block;
                    }
                }
                
            }

        }
    }
}