
/* =============
    aesop-1
============= */

#aesop{

    #aesop-hero{
        background-image: url("../img/work-2/aesop/aesop-1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 30vh;

        @include md {
            height: 50vh;
        }

        @include lg {
            height: 100vh;
        }
        
    }

    #aesop-main{

        position: relative;
        background-color: $white;

        >div{

            ul{
                @include md{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-areas: "objective about" ". process";
                    column-gap: 75px;
                    margin: 0px 25px;
                }
    
                @include lg{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    grid-template-areas: "objective about process";
                    column-gap: 100px;
                    margin: 0px 45px;
                    }

                @include xl{
                    margin: 0px;
                }
                
                li{
                    span{
                        display: block;
                        margin-bottom: 15px;

                        @include md {
                        margin-bottom: 20px;
                        }

                        @include lg {
                            margin-bottom: 25px;
                        }
                    }
                }

                

    
                li:nth-child(1){
                    @include md{
                        grid-area: objective;
                    }
                }
    
                li:nth-child(2){
                    @include md{
                        grid-area: about;
                    }
                }
    
                li:nth-child(3){
                    @include md{
                        grid-area: process;
                    }
                }
            }
        }
        
        
    }

    #aesop-main-work{

        position: relative;
        background-color: $white;

        >div{

            ul{

                display: grid;
                grid-template-rows: repeat(2, 30vh);
                // gap: 20px;
                grid-template-areas: "a1" "a2";

                @include md {
                    grid-template-rows: repeat(2, 50vh);
                }

                @include lg {
                    grid-template-rows: repeat(2, 80vh);
                }
        
                li{
                
                        img{
                            object-fit: cover;
                            object-position: center;
                            height: 100%;
                            width: 100%;
                        }
    
                    // background-position: center;
                    // background-repeat: no-repeat;
                    // background-size: 100%;
                    // height: 30vh;
                    // align-items: center;
    
                    // @include md{
                    //     height: 50vh;
                    // }
    
                    // @include lg{
                    //     height: 43vh;
                    // }

                    // @include xl{
                    //     height: 70vh;
                    // }
    
                    // }

                        
                }

                li:nth-child(1) {
                    img {
                        object-fit: cover;
                    }

                    @include lg {
                        grid-area: a1;
                    }

                }
                li:nth-child(2) {
                    img {
                        object-fit: cover;
                    }

                    @include lg {
                        grid-area: a2;
                    }

                }

            
    
                // li:nth-child(1){
                //     >div{
                //         background-image: url("../img/work-2/aesop/aesop-final-1.jpg");
                //     }
                    
                // }
    
                // li:nth-child(2){
                //     >div{
                //         background-image: url("../img/work-2/aesop/aesop-final-2.jpg");
                //     }
                    
                // }
    
              
        }

    }
}

   
        #aesop-gallery-1{

            >div{
    
                ul{

                    display: grid;
                    grid-template-rows: repeat(2, 30vh);
                    // gap: 20px;
                    grid-template-areas: "ap1" "ap2";

                    @include md {
                        grid-template-rows: repeat(2, 50vh);
                    }
    
                    @include lg{
                        display: grid;
                        grid-template-rows: repeat(2, 80vh);
                        column-gap: 25px;
                        margin: 0px 25px;
                    }
    
                    @include xl{
                        margin: 0px;
                    }
            
                    li{

                        img{
                            object-fit: cover;
                            object-position: center;
                            height: 100%;
                            width: 100%;
                        }

                        // div{
        
                        // background-position: center;
                        // background-repeat: no-repeat;
                        // background-size: 100%;
                        // height: 30vh;
                        // align-items: center;
        
                        // @include md{
                        //     height: 50vh;
                        // }
        
                        // @include lg{
                        //     height: 43vh;
                        // }
    
                        // @include xl{
                        //     height: 53vh;
                        // }
        
                        // }
                    }

                    li:nth-child(1) {
                        img {
                            object-fit: cover;
                        }
    
                        @include lg {
                            grid-area: ap1;
                        }
    
                    }
                    li:nth-child(2) {
                        img {
                            object-fit: cover;
                        }
    
                        @include lg {
                            grid-area: ap2;
                        }
    
                    }

                    }
        
                    // li:nth-child(1){
                    //     >div{
                    //         background-image: url("../img/work-2/aesop/aesop-1.jpg");
                    //     }
                        
                    // }
        
                    // li:nth-child(2){
                    //     >div{
                    //         background-image: url("../img/work-2/aesop/aesop-2.jpg");
                    //     }
                        
                    // }
        
                  
            }
    
        }

        #aesop-gallery-2{

            >div{
    
                ul{

                    display: grid;
                    grid-template-rows: repeat(3, 30vh);

                    @include md {
                        grid-template-rows: repeat(3, 50vh);
                    }
    
                    @include lg{
                        display: grid;
                        grid-template-rows: repeat(1,40vh);
                        grid-template-columns: repeat(3,1fr);
                        column-gap: 25px;
                        margin: 0px 25px;
                        grid-template-areas: "as1 as2 as3";
                    }
    
                    @include xl{
                        margin: 0px;
                    }

                    
            
                    li{

                        img{
                            object-fit: cover;
                            object-position: center;
                            height: 100%;
                            width: 100%;
                        }

                        // div{
        
                        // background-position: center;
                        // background-repeat: no-repeat;
                        // background-size: 100%;
                        // height: 30vh;
                        // align-items: center;
        
                        // @include md{
                        //     height: 50vh;
                        // }
        
                        // @include lg{
                        //     height: 43vh;
                        // }
    
                        // @include xl{
                        //     height: 53vh;
                        // }
        
                        // }
                    }

                    li:nth-child(1) {
                        img {
                            object-fit: cover;
                        }
    
                        @include lg {
                            grid-area: as1;
                        }
    
                    }
                    li:nth-child(2) {
                        img {
                            object-fit: cover;
                        }
    
                        @include lg {
                            grid-area: as2;
                        }
    
                    }

                    li:nth-child(3) {
                        img {
                            object-fit: cover;
                        }
    
                        @include lg {
                            grid-area: as3;
                        }
    
                    }


                    }
        
                    // li:nth-child(1){
                    //     >div{
                    //         background-image: url("../img/work-2/aesop/aesop-sketch-1.jpg");
                    //     }
                        
                    // }
        
                    // li:nth-child(2){
                    //     >div{
                    //         background-image: url("../img/work-2/aesop/aesop-sketch-2.jpg");
                    //     }
                        
                    // }
        
                    // li:nth-child(3){
                    //     >div{
                    //         background-image: url("../img/work-2/aesop/aesop-sketch-3.jpg");
                    //     }
                        
                    // }
                  
            }
    
        }
}

