/* =============
    cinegraph-1
============= */

#artspaceh {

    #artspaceh-hero {

        background-image: url("../img/work-2/proj-artspaceh.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 45vh;

            @include md {
                height: 50vh;
            }
    
            @include lg {
                height: 100vh;
            }
        
    }

    #artspaceh-main {
        position: relative;
        background-color: $bkgd-gray;

        >div {

            ul {
                @include md {
                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    // grid-template-rows: repeat(2, 1fr);
                    // grid-template-areas: "objective about"". process";
                    // column-gap: 75px;
                    // margin: 0px 25px;
                    margin: 0px 300px 0px 25px;
                }

                @include lg {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    grid-template-areas: "objective about process";
                    column-gap: 25px;
                    margin: 0px 45px;
                }

                @include xl {
                    margin: 0px;
                }

                li {
                    span {
                        display: block;
                        margin-bottom: 15px;

                        @include md {
                            margin-bottom: 20px;
                        }

                        @include lg {
                            margin-bottom: 25px;
                        }

                    }
                }


                li:nth-child(1) {
                    @include md {
                        grid-area: objective;
                    }
                }

                li:nth-child(2) {
                    @include md {
                        grid-area: about;
                    }
                }

                li:nth-child(3) {
                    @include md {
                        grid-area: process;
                    }
                }
            }
        }


    }

    #artspaceh-gallery {
        position: relative;
        background-color: $bkgd-gray;

        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(13, 250px);
                // gap: 20px;

                @include md {
                    grid-template-rows: repeat(13, 500px);
                }


                @include lg {
                    display: grid;
                    grid-template-rows: repeat(13, 600px);
                    // column-gap: 25px;
                    // margin: 0px 25px;

                }

                @include xl {
                    display: grid;
                    grid-template-rows: repeat(13, 800px);
                    // column-gap: 25px;
                    // margin: 0px 25px;

                }


                li {
                    img {

                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;

                    }
                }
            }

        }

    }

    #artspaceh-video {
        display: grid;
        grid-template-areas: ". video .";
        grid-template-columns: 10px auto 10px;

        >div {
            align-items: center;
            display: flex;
            grid-area: video;
            justify-content: center;

            section {
                width: 100%;

                iframe {
                    width: 100%;
                }
            }
        }
    }


    #artspaceh-applications {
        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(4, 320px);
                // gap: 20px;

                @include md {
                    grid-template-rows: repeat(4, 600px);
                }

                @include lg {
                    display: grid;
                    grid-template-rows: repeat(2, 420px);
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 25px;

                }

                @include xl {
                    display: grid;
                    grid-template-rows: repeat(2, 530px);
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 25px;

                }

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }

                }

            
            }

        }
    }


    #artspaceh-process {
        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                // gap: 20px;

                @include lg {
                    display: grid;
                    grid-template-rows: repeat(1, 1fr);
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 25px;

                }

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }

                }

            
            }

        }
    }

    #artspaceh-credits{
        >div {
            ul {
                // gap: 20px;

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }
                }
            
            }

        }
    }


}