/* =============
    book-covers-1
============= */

#book-covers {

    #book-covers-hero {

        background-image: url("../img/work-2/proj-books.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 45vh;

            @include md {
                height: 50vh;
            }
    
            @include lg {
                height: 100vh;
            }
        
    }

    #book-covers-main {
        position: relative;
        background-color: $bkgd-gray;

        >div {

            h3{
                span {
                    display: block;
                    margin-bottom: 15px;

                    @include md {
                        margin-bottom: 20px;
                    }

                    @include lg {
                        margin-bottom: 25px;
                    }

                }
            }

            ul {
                @include md {
                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    // grid-template-rows: repeat(2, 1fr);
                    // grid-template-areas: "objective about"". process";
                    // column-gap: 75px;
                    // margin: 0px 25px;
                    margin: 0px 300px 0px 25px;
                }

                @include lg {
                    // display: grid;
                    // grid-template-columns: repeat(3, 1fr);
                    // grid-template-rows: repeat(1, 1fr);
                    // grid-template-areas: "objective about process";
                    // column-gap: 25px;
                    // margin: 0px 45px;
                    margin: 0px 500px 0px 0px;
                }

                @include xl {
                    // margin: 0px;
                    margin: 0px 500px 0px 0px;
                }

                li {
                    span {
                        display: block;
                        margin-bottom: 15px;

                        @include md {
                            margin-bottom: 20px;
                        }

                        @include lg {
                            margin-bottom: 25px;
                        }

                    }
                }


                li:nth-child(1) {
                    @include md {
                        grid-area: objective;
                    }
                }

                li:nth-child(2) {
                    @include md {
                        grid-area: about;
                    }
                }

                li:nth-child(3) {
                    @include md {
                        grid-area: process;
                    }
                }
            }
        }


    }

    #orlando {
        position: relative;
        background-color: $bkgd-gray;

        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(8, 250px);
                // gap: 20px;

                @include md {
                    grid-template-rows: repeat(8, 500px);
                }


                @include lg {
                    display: grid;
                    grid-template-rows: repeat(8, 650px);
                    // column-gap: 25px;
                    // margin: 0px 25px;

                }

                @include xl {
                    display: grid;
                    grid-template-rows: repeat(8, 800px);
                    // column-gap: 25px;
                    // margin: 0px 25px;

                }


                li {
                    img {

                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;

                    }
                }
            }

        }

    }
    

    #white-teeth {
        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(5, 250px);
                // gap: 20px;

                @include md {
                    grid-template-rows: repeat(5, 500px);
                }


                @include lg {
                    display: grid;
                    grid-template-rows: repeat(5, 650px);
                    // column-gap: 25px;
                    // margin: 0px 25px;

                }

                @include xl {
                    display: grid;
                    grid-template-rows: repeat(5, 800px);
                    // column-gap: 25px;
                    // margin: 0px 25px;

                }


                li {
                    img {

                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;

                    }
                }
            }

        }
    }

    #book-total {
        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(4, 250px);
                // gap: 20px;

                @include md {
                    grid-template-rows: repeat(4, 500px);
                }


                @include lg {
                    display: grid;
                    grid-template-rows: repeat(4, 650px);
                    // column-gap: 25px;
                    // margin: 0px 25px;

                }

                @include xl {
                    display: grid;
                    grid-template-rows: repeat(4, 800px);
                    // column-gap: 25px;
                    // margin: 0px 25px;

                }


                li {
                    img {

                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;

                    }
                }
            }

        }
    }


    #book-covers-process {
        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(5, 1fr);
                // gap: 20px;

                @include lg {
                    display: grid;
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 25px;

                }

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }

                }

            
            }

        }
    }



}