/* =============
    cinegraph-1
============= */

#cinegraph {

    #cinegraph-hero {

        // background-image: url("../img/work-2/proj-cinegraph.jpg");
        background-image: url("../img/work-2/cinegraph-studios/main/motion.gif");
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 45vh;

            @include md {
                height: 50vh;
            }
    
            @include lg {
                height: 100vh;
            }
        
    }

    #cinegraph-main {
        position: relative;
        background-color: $bkgd-gray;

        >div {

            h3{
                span {
                    display: block;
                    margin-bottom: 15px;

                    @include md {
                        margin-bottom: 20px;
                    }

                    @include lg {
                        margin-bottom: 25px;
                    }

                }
            }

            ul {
                @include md {
                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    // grid-template-rows: repeat(2, 1fr);
                    // grid-template-areas: "objective about"". process";
                    // column-gap: 75px;
                    // margin: 0px 25px;
                    margin: 0px 300px 0px 25px;
                }

                @include lg {
                    // display: grid;
                    // grid-template-columns: repeat(3, 1fr);
                    // grid-template-rows: repeat(1, 1fr);
                    // grid-template-areas: "objective about process";
                    // column-gap: 25px;
                    // margin: 0px 45px;
                    margin: 0px 400px 0px 0px;
                }

                @include xl {
                    // margin: 0px;
                    margin: 0px 500px 0px 0px;
                }

                li {
                    span {
                        display: block;
                        margin-bottom: 15px;

                        @include md {
                            margin-bottom: 20px;
                        }

                        @include lg {
                            margin-bottom: 25px;
                        }

                    }
                }


                li:nth-child(1) {
                    @include md {
                        grid-area: objective;
                    }
                }

                li:nth-child(2) {
                    @include md {
                        grid-area: about;
                    }
                }

                li:nth-child(3) {
                    @include md {
                        grid-area: process;
                    }
                }
            }
        }


    }

    #cinegraph-gallery {
        position: relative;
        background-color: $bkgd-gray;

        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(5, 250px);
                // gap: 20px;

                @include md {
                    grid-template-rows: repeat(5, 500px);
                }


                @include lg {
                    display: grid;
                    grid-template-rows: repeat(5, 630px);
                    // column-gap: 25px;
                    // margin: 0px 25px;

                }

                @include xl {
                    display: grid;
                    grid-template-rows: repeat(5, 800px);
                    // column-gap: 25px;
                    // margin: 0px 25px;

                }


                li {
                    img {

                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;

                    }

                }

                
            }

        }

    }

    // #cinegraph-video {
    //     display: grid;
    //     grid-template-areas: ". video .";
    //     grid-template-columns: 10px auto 10px;

    //     >div {
    //         align-items: center;
    //         display: flex;
    //         grid-area: video;
    //         justify-content: center;

    //         section {
    //             width: 100%;

    //             iframe {
    //                 width: 100%;
    //             }
    //         }
    //     }
    // }


    #cinegraph-applications {
        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(6, 320px);
                // gap: 20px;

                @include md {
                    grid-template-rows: repeat(6, 620px);
                }

                @include lg {
                    display: grid;
                    grid-template-rows: repeat(3, 420px);
                    grid-template-columns: repeat(2, 1fr);
                    // column-gap: 25px;
                    column-gap: 15px;

                }

                @include xl {
                    display: grid;
                    grid-template-rows: repeat(3, 530px);
                    grid-template-columns: repeat(2, 1fr);
                    // column-gap: 25px;
                    column-gap: 15px;

                }

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;

                    }

                }

            
            }

        }
    }


    #cinegraph-process {
        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(4, 1fr);
                // gap: 20px;

                @include lg {
                    display: grid;
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-columns: repeat(2, 1fr);
                    // column-gap: 25px;
                    column-gap: 15px;

                }

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }

                }

            
            }

        }
    }

    // #cinegraph-credits{
    //     >div {
    //         ul {
    //             // gap: 20px;

    //             li {
    //                 img {
    //                     object-fit: cover;
    //                     object-position: center;
    //                     height: 100%;
    //                     width: 100%;
    //                 }
    //             }
            
    //         }

    //     }
    // }




    #cinegraph-credits {
        position: relative;
        background-color: $bkgd-gray;

        >div {

            ul {
                @include md {
                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    // grid-template-rows: repeat(2, 1fr);
                    // grid-template-areas: "objective about"". process";
                    // column-gap: 75px;
                    // margin: 0px 25px;
                    margin: 0px 300px 0px 25px;
                }

                @include lg {
                    // display: grid;
                    // grid-template-columns: repeat(3, 1fr);
                    // grid-template-rows: repeat(1, 1fr);
                    // grid-template-areas: "objective about process";
                    // column-gap: 25px;
                    // margin: 0px 45px;
                    margin: 0px 400px 0px 0px;
                }

                @include xl {
                    // margin: 0px;
                    margin: 0px 500px 0px 0px;
                }

                li {
                    span {
                        // display: block;
                        font-weight: 500;

                    }
                }
            }
        }


    }


}