/* =============
    copenhagen-1
============= */

#copenhagen{

    #copenhagen-hero{
        background-image: url("../img/work-2/copenhagen/copenhagen-total-new.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;

        @include md {
            height: 50vh;
        }

        @include lg {
            height: 100vh;
        }
        
    }

    #copenhagen-main{

        >div{

            ul{
                @include md{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-areas: "objective about" ". process";
                    column-gap: 75px;
                    margin: 0px 25px;
                }
    
                @include lg{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    grid-template-areas: "objective about process";
                    column-gap: 100px;
                    margin: 0px 45px;
                    }

                @include xl{
                    margin: 0px;
                }

    
                li:nth-child(1){
                    @include md{
                        grid-area: objective;
                    }
                }
    
                li:nth-child(2){
                    @include md{
                        grid-area: about;
                    }
                }
    
                li:nth-child(3){
                    @include md{
                        grid-area: process;
                    }
                }
            }
        }
        
        
    }

    #copenhagen-gallery{

        >div{

            ul{

                @include lg{
                    // display: grid;
                    // grid-template-columns: repeat(2,1fr);
                    margin: 0px 25px;
                    column-gap: 25px;
                }
                
                @include xl{
                    margin: 0px;
                }
        
                li{
                    div{
    
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    height: 18vh;
                    align-items: center;
    
                    @include md{
                        height: 25vh;
                    }
    
                    @include lg{
                        height: 43vh;
                    }

                    @include xl{
                        height: 60vh;
                    }
    
                    }
                }
                }
    
               
                li:nth-child(1){
                    >div{
                        background-image: url("../img/work-2/copenhagen/copenhagen-poster.jpg");

                    }
                    
                }
    
                li:nth-child(2){
                    >div{
                        background-image: url("../img/work-2/copenhagen/copenhagen-postcard.jpg");
                    }
                    
                }
    
                li:nth-child(3){
                    >div{
                        background-image: url("../img/work-2/copenhagen/copenhagen-stamps.jpg");
                    }
                    
                }

        }
    }


    
    
    }

    


   