/* =============
    deeply-fruit-1
============= */

#deeply-fruit {

    #deeply-fruit-hero {

        background-image: url("../img/work-2/deeply-fruit/motion-main.gif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 45vh;

        @include md {
            height: 50vh;
        }

        @include lg{
            height: 100vh;
        }

        @include xl {
            height: 100vh;
            background-position: 0px -200px;
        }

    }

    #deeply-fruit-main {
        position: relative;
        background-color: $bkgd-gray;

        >div {

            h3{
                span {
                    display: block;
                    margin-bottom: 15px;

                    @include md {
                        margin-bottom: 20px;
                    }

                    @include lg {
                        margin-bottom: 25px;
                    }

                }
            }

            ul {
                @include md {
                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    // grid-template-rows: repeat(2, 1fr);
                    // grid-template-areas: "objective about"". process";
                    // column-gap: 75px;
                    // margin: 0px 25px;
                    margin: 0px 300px 0px 25px;
                }

                @include lg {
                    // display: grid;
                    // grid-template-columns: repeat(3, 1fr);
                    // grid-template-rows: repeat(1, 1fr);
                    // grid-template-areas: "objective about process";
                    // column-gap: 25px;
                    // margin: 0px 45px;
                    margin: 0px 400px 0px 0px;
                }

                @include xl {
                    // margin: 0px;
                    margin: 0px 500px 0px 0px;
                }

                li {
                    span {
                        display: block;
                        margin-bottom: 15px;

                        @include md {
                            margin-bottom: 20px;
                        }

                        @include lg {
                            margin-bottom: 25px;
                        }

                    }
                }


                li:nth-child(1) {
                    @include md {
                        grid-area: objective;
                    }
                }

                li:nth-child(2) {
                    @include md {
                        grid-area: about;
                    }
                }

                li:nth-child(3) {
                    @include md {
                        grid-area: process;
                    }
                }
            }
        }


    }

    #deeply-fruit-button{
        position: relative;
        background-color: $bkgd-gray;
    }


    #deeply-fruit-exterior-intro{
        >div{
            ul{
                display: grid;
                grid-template-rows: repeat(3, 250px);
                // gap: 20px;

                @include md {
                    grid-template-rows: repeat(3, 500px);
                }

                @include lg {
                    display: grid;
                    grid-template-rows: repeat(3, 330px);
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas:
                    "g1 g1"
                    "g1 g1"
                    "g2 g3";
                    // "g4 g5";
                    // "g6 g7";

                    // column-gap: 25px;
                    column-gap: 15px;

                }

                @include xl {
                    display: grid;
                    grid-template-rows: repeat(3, 400px);
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas:

                    "g1 g1"
                    "g1 g1"
                    "g2 g3";
                    // "g4 g5";
                    // "g6 g7";

                    // column-gap: 25px;
                    column-gap: 15px;
                }

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }
                }


                li:nth-child(1) {

                    @include lg {
                        grid-area: g1;

                    }

                }

                li:nth-child(2) {

                    @include lg {
                        grid-area: g2;
                    }

                }

                li:nth-child(3) {
                    @include lg {
                        grid-area: g3;
                    }

                }

                // li:nth-child(4) {
                //     @include lg {
                //         grid-area: g4;
                //     }

                // }

                // li:nth-child(5) {
                //     @include lg {
                //         grid-area: g5;
                //     }

                // }

                // li:nth-child(6) {
                //     @include lg {
                //         grid-area: g6;
                //     }

                // }

                // li:nth-child(7) {
                //     @include lg {
                //         grid-area: g7;
                //     }

                // }

            }
        }
    }




    #deeply-fruit-exterior {
        >div {

            ul {

                display: grid;
                grid-template-rows: repeat(9, 250px);
                // gap: 20px;

                @include md {
                    grid-template-rows: repeat(9, 500px);
                }

                @include lg {
                    display: grid;
                    grid-template-rows: repeat(9, 300px);
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas:
                        // "g1 g2 g3"

                        // "g4 g4 g5"
                        // "g4 g4 g6"

                        // "g7 g8 g9"

                        // "g10 g10 g10"
                        // "g10 g10 g10"

                        // "g11 g11 g11"
                        // "g11 g11 g11"

                        // "g12 g12 g12"
                        // "g12 g12 g12";

                        "g1 g1 g2"
                        "g1 g1 g3"

                        "g4 g5 g6"

                        "g7 g7 g7"
                        "g7 g7 g7"

                        "g8 g8 g8"
                        "g8 g8 g8"

                        "g9 g9 g9"
                        "g9 g9 g9";

                    // column-gap: 25px;
                    column-gap: 15px;
                }

                @include xl {
                    display: grid;
                    grid-template-rows: repeat(9, 400px);
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas:

                        "g1 g1 g2"
                        "g1 g1 g3"

                        "g4 g5 g6"

                        "g7 g7 g7"
                        "g7 g7 g7"

                        "g8 g8 g8"
                        "g8 g8 g8"

                        "g9 g9 g9"
                        "g9 g9 g9";

                        // "g1 g2 g3"

                        // "g4 g4 g5"
                        // "g4 g4 g6"

                        // "g7 g8 g9"

                        // "g10 g10 g10"
                        // "g10 g10 g10"

                        // "g11 g11 g11"
                        // "g11 g11 g11"

                        // "g12 g12 g12"
                        // "g12 g12 g12";



                        // "g1 g2 g3"

                        // "g4 g4 g5"
                        // "g4 g4 g6"

                        // "g7 g8 g9"

                        // "g10 g10 g10"
                        // "g10 g10 g10"

                        // "g11 g11 g11"
                        // "g11 g11 g11"

                        // "g12 g13 g14";

                    // column-gap: 25px;
                    column-gap: 15px;
                }

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }
                }


                li:nth-child(1) {

                    @include lg {
                        grid-area: g1;

                    }

                }

                li:nth-child(2) {

                    @include lg {
                        grid-area: g2;
                    }

                }

                li:nth-child(3) {
                    @include lg {
                        grid-area: g3;
                    }

                }

                li:nth-child(4) {
                    @include lg {
                        grid-area: g4;
                    }

                }

                li:nth-child(5) {
                    @include lg {
                        grid-area: g5;
                    }

                }

                li:nth-child(6) {
                    @include lg {
                        grid-area: g6;
                    }

                }

                li:nth-child(7) {
                    @include lg {
                        grid-area: g7;
                    }

                }

                li:nth-child(8) {
                    @include lg {
                        grid-area: g8;
                    }

                }

                li:nth-child(9) {
                    @include lg {
                        grid-area: g9;
                    }

                }

                // li:nth-child(10) {
                //     @include lg {
                //         grid-area: g10;
                //     }

                // }

                // li:nth-child(11) {
                //     @include lg {
                //         grid-area: g11;
                //     }

                // }

                // li:nth-child(12) {
                //     @include lg {
                //         grid-area: g12;
                //     }

                // }

                // li:nth-child(13) {
                //     @include lg {
                //         grid-area: g13;
                //     }

                // }

                // li:nth-child(14) {
                //     @include lg {
                //         grid-area: g14;
                //     }

                // }


            }

        }
    }



    #deeply-fruit-interior {
        >div {

            ul {

                display: grid;
                grid-template-rows: repeat(7, 250px);
                // gap: 20px;

                @include md {
                    grid-template-rows: repeat(7, 500px);
                }

                @include lg {
                    display: grid;
                    grid-template-rows: repeat(8, 300px);
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas:
                    "g1 g1"
                    "g1 g1"

                    "g2 g3"

                    "g4 g4"
                    "g4 g4"

                    "g5 g6"

                    "g7 g7"
                    "g7 g7";

                    // column-gap: 25px;
                    column-gap: 15px;
                }

                @include xl {
                    display: grid;
                    grid-template-rows: repeat(8, 400px);
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas:

                    "g1 g1"
                    "g1 g1"

                    "g2 g3"

                    "g4 g4"
                    "g4 g4"
                    
                    "g5 g6"

                    "g7 g7"
                    "g7 g7";

                    // "g1 g1 g1 g1"
                    // "g1 g1 g1 g1"

                    // "g2 g2 g2 g2"
                    // "g2 g2 g2 g2"

                    // "g3 g3 g4 g4"

                    // "g5 g5 g5 g5"
                    // "g5 g5 g5 g5"

                    // "g6 g6 g6 g6"
                    // "g6 g6 g6 g6"
                    
                    // "g7 g7 g8 g8"
                    
                    // "g9 g9 g9 g9"
                    // "g9 g9 g9 g9";

                    // column-gap: 25px;
                    column-gap: 15px;
                }

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }
                }


                li:nth-child(1) {

                    @include lg {
                        grid-area: g1;

                    }

                }

                li:nth-child(2) {

                    @include lg {
                        grid-area: g2;
                    }

                }

                li:nth-child(3) {
                    @include lg {
                        grid-area: g3;
                    }

                }

                li:nth-child(4) {
                    @include lg {
                        grid-area: g4;
                    }

                }

                li:nth-child(5) {
                    @include lg {
                        grid-area: g5;
                
                    }

                }

                li:nth-child(6) {
                    @include lg {
                        grid-area: g6;
                
                    }

                }

                li:nth-child(7) {
                    @include lg {
                        grid-area: g7;
                
                    }

                }

                li:nth-child(8) {
                    @include lg {
                        grid-area: g8;
                
                    }

                }

                li:nth-child(9) {
                    @include lg {
                        grid-area: g9;
                
                    }

                }

                


            }

        }
    }


    // #deeply-fruit-interior-cartons {
    //     >div {

    //         ul {

    //             display: grid;
    //             grid-template-rows: repeat(9, 250px);
    //             // gap: 20px;

    //             @include md {
    //                 grid-template-rows: repeat(9, 500px);
    //             }

    //             @include lg {
    //                 display: grid;
    //                 grid-template-rows: repeat(2, 200px);
    //                 grid-template-columns: repeat(4, 1fr);
    //                 grid-template-areas:
    //                 "g1 g2 g3 g4"
    //                 "g5 g6 g7 g8"
    //                 "g9 g9 g9 g9"
    //                 "g9 g9 g9 g9";

    //                 // column-gap: 25px;
    //                 column-gap: 15px;
    //             }

    //             @include xl {
    //                 display: grid;
    //                 grid-template-rows: repeat(2, 250px);
    //                 grid-template-columns: repeat(4, 1fr);
    //                 grid-template-areas:
    //                 "g1 g2 g3 g4"
    //                 "g5 g6 g7 g8"
    //                 "g9 g9 g9 g9"
    //                 "g9 g9 g9 g9";

    //                 // column-gap: 25px;
    //                 column-gap: 15px;
    //             }

    //             li {
    //                 img {
    //                     object-fit: cover;
    //                     object-position: center;
    //                     height: 100%;
    //                     width: 100%;
    //                 }
    //             }


    //             li:nth-child(1) {

    //                 @include lg {
    //                     grid-area: g1;

    //                 }

    //             }

    //             li:nth-child(2) {

    //                 @include lg {
    //                     grid-area: g2;
    //                 }

    //             }

    //             li:nth-child(3) {
    //                 @include lg {
    //                     grid-area: g3;
    //                 }

    //             }

    //             li:nth-child(4) {
    //                 @include lg {
    //                     grid-area: g4;
    //                 }

    //             }

    //             li:nth-child(5) {
    //                 @include lg {
    //                     grid-area: g5;
                
    //                 }

    //             }

    //             li:nth-child(6) {
    //                 @include lg {
    //                     grid-area: g6;
                
    //                 }

    //             }

    //             li:nth-child(7) {
    //                 @include lg {
    //                     grid-area: g7;
                
    //                 }

    //             }

    //             li:nth-child(8) {
    //                 @include lg {
    //                     grid-area: g8;
                
    //                 }

    //             }

    //             li:nth-child(9) {
    //                 @include lg {
    //                     grid-area: g9;
                
    //                 }

    //             }

    //         }

    //     }
    // }

    


    #deeply-fruit-process {
        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                // gap: 20px;

                @include lg {
                    display: grid;
                    grid-template-rows: repeat(1, 1fr);
                    grid-template-columns: repeat(3, 1fr);
                    // column-gap: 25px;
                    column-gap: 15px;

                }

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }

                }


            }

        }
    }




}