/* =============
    light-photo-1
============= */

#light-photo {

    #light-gallery {

        #light-main {

            #light-hero {
                background-image: url("../img/art-1/light/light-hero-1.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                height: 69vh;
                // background-attachment: fixed;
            }
        }

        ul {
            li {
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                height: 30vh;

            }


        }

        li:nth-child(1) {
            background-image: url("../img/art-1/light/light2.jpg");
        }

        li:nth-child(2) {
            background-image: url("../img/art-1/light/light3.jpg");
        }

        li:nth-child(3) {
            background-image: url("../img/art-1/light/geo1.jpg");
        }

        li:nth-child(4) {
            background-image: url("../img/art-1/light/geo2.jpg");
        }

        li:nth-child(5) {
            background-image: url("../img/art-1/light/light4.jpg");
        }

        li:nth-child(6) {
            background-image: url("../img/art-1/light/light5.jpg");
        }

        li:nth-child(7) {
            background-image: url("../img/art-1/light/light6.jpg");
        }

    }

}