/* =============
    little-joys
============= */

#little-joys{

    #joy-gallery{

        #joy-main{

            #joy-hero{
                background-image: url("../img/art-1/independent/ID-hero.jpg");
                // display: flex;
                // align-items: center;
                // justify-content: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100vh;
        
            }
        }
        
        ul{
            li{
                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100vh;
                }
            }
        
    
            }

            // li:nth-child(1){
                
            // }
    }
    
    
    }

    


   