/* =============
    perused-1
============= */

#perused{

    #perused-hero{
        background-image: url("../img/work-2/proj-perused.jpg");
        background-position: center;
        background-repeat: no-repeat;
        // background-size: 100%;
        background-size: cover;
        height: 45vh;

        @include md {
            height: 50vh;
        }

        @include lg {
            height: 100vh;
        }
        
    }

    #perused-main{
        position: relative;
        background-color: $bkgd-gray;

        >div{

            ul{
                @include md{
                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    // grid-template-rows: repeat(2, 1fr);
                    // grid-template-areas: "objective about" ". process";
                    // column-gap: 75px;
                    // margin: 0px 25px;
                    margin: 0px 300px 0px 25px;
                }
    
                @include lg{
                    // display: grid;
                    // grid-template-columns: repeat(3, 1fr);
                    // grid-template-rows: repeat(1, 1fr);
                    // grid-template-areas: "objective about process";
                    // column-gap: 25px;
                    // margin: 0px 45px;
                    margin: 0px 500px 0px 0px;
                    }

                @include xl{
                    // margin: 0px;
                    margin: 0px 500px 0px 0px;
                }

                li{
                    span{
                        font-weight: 500;
                    }
                }

    
                li:nth-child(1){
                    @include md{
                        grid-area: objective;
                    }
                }
    
                li:nth-child(2){
                    @include md{
                        grid-area: about;
                    }
                }
    
                li:nth-child(3){
                    @include md{
                        grid-area: process;
                    }
                }
            }
        }
        
        
    }

    // #perused-definition{
    //     position: relative;
    //     background-color: $bkgd-gray;

    //     @include lg{
    //         padding-bottom: 15px;
    //     }

        
    // }

    #perused-intro{
        position: relative;
        background-color: $bkgd-gray;
        
        >div{
            ul{
                li{
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 30vh;
                        width: 100%;

                        @include md{
                            height: 45vh;
                        }

                        @include lg {
                            height:  80vh;
                            // object-fit: cover;
                        }

                        @include xl {
                            height:  100vh;
                            // object-fit: cover;
                        }

                    }
                }
            }
        }
    }

    #perused-gallery{
        position: relative;
        background-color: $bkgd-gray;

        >div{

            ul{

                @include lg{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-areas: "g1 g2"
                    "g3 g4"
                    "g5 g6"
                    "g7 g8"
                    "g9 .";
                    column-gap: 25px;
                    // margin: 0px 25px;
                }
                
                // @include xl{
                //     margin: 0px;
                // }
        
                li{

                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 30vh;
                        width: 100%;

                        @include md{
                            height: 50vh;
                        }

                        @include lg {
                            height:  55vh;
                        }

                        @include xl {
                            height:  60vh;
                        }
                    }

                }
                }
    
                li:nth-child(1){
                    >div{
                        @include lg{
                            grid-area: g1;
                        }   
                    }
                }
                li:nth-child(2){
                    >div{
                        @include lg{
                            grid-area: g2;
                        }   
                    }
                }
                li:nth-child(3){
                    >div{
                        @include lg{
                            grid-area: g3;
                        }   
                    }
                }
                li:nth-child(4){
                    >div{
                        @include lg{
                            grid-area: g4;
                        }   
                    }
                }
                li:nth-child(5){
                    >div{
                        @include lg{
                            grid-area: g5;
                        }   
                    }
                }
                li:nth-child(6){
                    >div{
                        @include lg{
                            grid-area: g6;
                        }   
                    }
                }
                li:nth-child(7){
                    >div{
                        @include lg{
                            grid-area: g7;
                        }   
                    }
                }
                li:nth-child(8){
                    >div{
                        @include lg{
                            grid-area: g8;
                        }   
                    }
                }
                li:nth-child(9){
                    >div{
                        @include lg{
                            grid-area: g9;
                        }   
                    }
                }
                // li:nth-child(10){
                //     >div{
                //         @include lg{
                //             grid-area: g10;
                //         }   
                //     }
                // }
        }
    }


    #perused-gallery-process-1{
        >div{

            >ul{
                @include lg{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: repeat(1,1fr);
                    grid-template-areas: "g1 g2 g3";
                    // "g3 g4";
                    // "g5 g6"
                    // "g7 .";
                    column-gap: 25px;
                    // margin: 0px 25px;
                }

                li{
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 30vh;
                        width: 100%;

                        @include md{
                            height: 45vh;
                                
                            }

                        @include lg {
                            height: 35vh;
                        }

                    }
                }

                li:nth-child(1){
                    >div{
                        @include lg{
                            grid-area: g1;
                        }   
                    }
                }
                li:nth-child(2){
                    >div{
                        @include lg{
                            grid-area: g2;
                        }   
                    }
                }
                li:nth-child(3){
                    >div{
                        @include lg{
                            grid-area: g3;
                        }   
                    }
                }
                // li:nth-child(4){
                //     >div{
                //         @include lg{
                //             grid-area: g4;
                //         }   
                //     }
                // }
                // li:nth-child(5){
                //     >div{
                //         @include lg{
                //             grid-area: g5;
                //         }   
                //     }
                // }
                // li:nth-child(6){
                //     >div{
                //         @include lg{
                //             grid-area: g6;
                //         }   
                //     }
                // }
                // li:nth-child(7){
                //     >div{
                //         @include lg{
                //             grid-area: g7;
                //         }   
                //     }
                // }
                // li:nth-child(8){
                //     >div{
                //         @include lg{
                //             grid-area: g8;
                //         }   
                //     }
                // }
            
            }

            
        }
    }

    }

    


   