/* =============
    perused-1
============= */

#perused{

    #perused-hero{
        background-image: url("../img/work-2/perused/perused-hero.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 30vh;
        
        @include md{
            height: 50vh;
        }

        @include lg{
            height: 90vh;
        }      
        
        @include xl{
            height: 105vh;
        }  
        
    }

    #perused-main{

        >div{

            ul{
                @include md{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-areas: "objective about" "process .";
                    column-gap: 75px;
                    margin: 0px 25px;
                }
    
                @include lg{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    grid-template-areas: "objective about process";
                    column-gap: 100px;
                    margin: 0px 45px;
                    }

                @include xl{
                    margin: 0px;
                }

                li{
                    span{
                        font-weight: 500;
                    }
                }

    
                li:nth-child(1){
                    @include md{
                        grid-area: objective;
                    }
                }
    
                li:nth-child(2){
                    @include md{
                        grid-area: about;
                    }
                }
    
                li:nth-child(3){
                    @include md{
                        grid-area: process;
                    }
                }
            }
        }
        
        
    }

    #perused-gallery{

        >div{


            ul{

                // @include lg{
                //     display: grid;
                //     grid-template-columns: repeat(2,1fr);
                //     column-gap: 25px;
                //     margin: 0px 25px;
                // }
                
                @include xl{
                    margin: 0px;
                }
        
                li{
                    div{
    
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    height: 30vh;
                    align-items: center;
    
                    @include md{
                        height: 50vh;
                    }
    
                    @include lg{
                        height: 43vh;
                    }

                    @include xl{
                        height:  100vh;
                    }
    
                    }
                }
                }
    
                li:nth-child(1){
                    >div{
                        background-image: url("../img/work-2/perused/perused-contents.jpg");

                        @include lg{
                            background-size: 110%;
                        }
                    }
                    
                }
    
                li:nth-child(2){
                    >div{
                        background-image: url("../img/work-2/woodmere/logo2and3.jpg");
                        @include lg{
                            background-size: 80%;
                        }
                    }
                    
                }
    
                li:nth-child(3){
                    >div{
                        background-image: url("../img/work-2/woodmere/colours.jpg");
                    }
                    
                }

                li:nth-child(4){
                    >div{
                        background-image: url("../img/work-2/woodmere/business-card.jpg");
                    }
                    
                }

                li:nth-child(5){
                    >div{
                        background-image: url("../img/work-2/woodmere/app-1-f.jpg");
                    }
                    
                }


                li:nth-child(6){
                    >div{
                        background-image: url("../img/work-2/woodmere/id-holder.jpg");
                    }
                    
                }

                li:nth-child(7){
                    >div{
                        background-image: url("../img/work-2/woodmere/app-5-f.jpg");
                    }
                    
                }

                li:nth-child(8){
                    >div{
                        background-image: url("../img/work-2/woodmere/tickets.jpg");
                    }
                    
                }

                li:nth-child(9){
                    >div{
                        background-image: url("../img/work-2/woodmere/ticket-1.jpg");
                    }
                    
                }

                li:nth-child(10){
                    >div{
                        background-image: url("../img/work-2/woodmere/ticket-2.jpg");
                    }
                    
                }


                li:nth-child(11){
                    >div{
                        background-image: url("../img/work-2/woodmere/app-3-f.jpg");
                    }
                    
                }

                li:nth-child(12){
                    >div{
                        background-image: url("../img/work-2/woodmere/app-4-f.jpg");
                    }
                    
                }
        }
    }
    
    

    #perused-gallery-process{
        >div{
            >ul{
                @include lg{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    column-gap: 25px;
                    margin: 0px 25px;
                }
        
                li{
                    div{
    
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    height: 30vh;
                    align-items: center;
    
                    @include md{
                        height: 50vh;
                    }
    
                    @include lg{
                        height: 43vh;
                    }

                    @include xl{
                        height:  50vh;
                    }
    
                    }
                }
            }

            li:nth-child(1){
                >div{
                    background-image: url("../img/work-2/woodmere/sketch-1.jpg");
                    
                }
            }
            li:nth-child(2){
                >div{
                    background-image: url("../img/work-2/woodmere/sketch-2.jpg");
                }
            }
            li:nth-child(3){
                >div{
                    background-image: url("../img/work-2/woodmere/w-process-1.jpg");
                }
            }
        
            li:nth-child(4){
                >div{
                    background-image: url("../img/work-2/woodmere/w-process-2.jpg");
                }
            }
            li:nth-child(5){
                >div{
                    background-image: url("../img/work-2/woodmere/w-process-3.jpg");
                }
                
            }
        }
    }

    
    
    }

    


   