/* =============
    portraits-1
============= */

#portraits {

    #portraits-hero {
        background-image: url("../img/art-1/portraits/portrait-hero-1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 30vh;
        // background-attachment: fixed;

        @include md{
            height: 50vh;
        }

        @include lg{
            height: 90vh;
        }      
        
        @include xl{
            height: 105vh;
        }  
    }


    #portraits-main {
        @include xl{
            display: grid;
            grid-template-areas: ". portraits-description .";
            grid-template-columns: auto 1200px auto;
        }

        #portraits-content {

            @include xl{
                grid-area: portraits-description;
            }

            ul{
                @include md{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-areas: "objective about" "process .";
                    column-gap: 75px;
                    margin: 0px 25px;
                }
    
                @include lg{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    grid-template-areas: "objective about process";
                    column-gap: 100px;
                    margin: 0px 45px;
                    }

    
                li:nth-child(1){
                    @include md{
                        grid-area: objective;
                    }
                }
    
                li:nth-child(2){
                    @include md{
                        grid-area: about;
                    }
                }
    
                li:nth-child(3){
                    @include md{
                        grid-area: process;
                    }
                }
            }
        }
            
    }

    #portraits-gallery {

        @include xl{
            display: grid;
            grid-template-areas: ". portraits-gallery .";
            grid-template-columns: auto 1200px auto;
        }

        >div{

            @include xl{
                grid-area: portraits-gallery;

            }

            ul {

                @include lg{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    column-gap: 25px;
                    margin: 0px 25px;
                }
                
                li {
                    div{
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    height: 30vh;
                    align-items: center;
    
                    @include md{
                        height: 50vh;
                    }
    
                    @include lg{
                        height: 43vh;
                    }

                    @include xl{
                        height:  50vh;
                    }
                    }
                }
            }
    
            li:nth-child(1) {
                >div{
                    background-image: url("../img/art-1/portraits/portrait4.jpg");
                    height: 69vh;
        
                    @include md{
                        height: 110vh;
                    }

                    @include lg{
                        height: 98vh;
                    }

                    @include xl{
                        height:  114vh;
                    }
                }   
            }
    
            li:nth-child(2) {
                >div{
                    background-image: url("../img/art-1/portraits/portrait5.jpg");
                    height: 69vh;
        
                    @include md{
                        height: 110vh;
                    }

                    @include lg{
                        height: 98vh;
                    }

                    @include xl{
                        height:  114vh;
                    }
                }
            }
    
            li:nth-child(3) {
                >div{
                    background-image: url("../img/art-1/portraits/portrait2.jpg");
                }
            }
    
            li:nth-child(4) {
                >div{
                    background-image: url("../img/art-1/portraits/motion1.jpg");
                }
            }
    
            li:nth-child(5) {
                >div{
                    background-image: url("../img/art-1/portraits/motion2.jpg");
                }
            }
    
            li:nth-child(6) {
                >div{
                    background-image: url("../img/art-1/portraits/portrait3.jpg");
                } 
            }
    
            li:nth-child(7) {
                >div{
                    background-image: url("../img/art-1/portraits/motion4.jpg");
                } 
            }
    
            li:nth-child(8) {
                >div{
                    background-image: url("../img/art-1/portraits/motion3.jpg");
                }
            }
    
            li:nth-child(9) {
                >div{
                    background-image: url("../img/art-1/portraits/portrait6.jpg");
                    height: 69vh;
        
                    @include md{
                        height: 110vh;
                    }

                    @include lg{
                        height: 98vh;
                    }

                    @include xl{
                        height:  114vh;
                    }
                }
            }
        }
    }

}