/* =============
    street-photo-1
============= */

#street-photo{

    #street-hero{
        background-image: url("../img/art-1/street/motion-hero-1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 30vh;
        
        @include md{
            height: 50vh;
        }   
        
        @include lg{
            height: 90vh;
        }      
        
        @include xl{
            height: 105vh;
        }  
        
    }


        #street-main{

            ul{
                
                @include md{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-areas: "objective about" ". process";
                    column-gap: 75px;
                    margin: 0px 25px;
                }

                @include lg{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    grid-template-areas: "objective about process";
                    column-gap: 100px;
                    margin: 0px 45px;
                    }
                    
                @include xl{
                    margin: 0px;
                }

                li:nth-child(1){
                    @include md{
                        grid-area: objective;
                    }
                }

                li:nth-child(2){
                    @include md{
                        grid-area: about;
                    }
                }

                li:nth-child(3){
                    @include md{
                        grid-area: process;
                    }
                }
                
            }
            
        }
            
        }

    #street-gallery{

        >div{
            
            ul{

                @include lg{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    column-gap: 25px;
                    margin: 0px 25px;
                }

                @include xl{
                    margin: 0px;
                }
    
                li{
                    
                    div{
    
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        height: 30vh;
                        align-items: center;
    
                    @include md{
                        height: 50vh;
                    }
    
                    @include lg{
                        height: 43vh;
                    }

                    @include xl{
                        height: 53vh;
                    }
    
                    }
                    
                }
            
        
                }
    
                li:nth-child(1){
                    >div{
                        background-image: url("../img/art-1/street/motion2.jpg");
                    }
                    
                }
    
                li:nth-child(2){
                    >div{
                        background-image: url("../img/art-1/street/street1.jpg");
                    }
                    
                }
    
                li:nth-child(3){
                    >div{
                        background-image: url("../img/art-1/street/street2.jpg");
                        height: 69vh;
        
                        @include md{
                            height: 110vh;
                        }

                        @include lg{
                            height: 98vh;
                        }

                        @include xl{
                            height: 120vh;
                        }
                    }
                }
    
                li:nth-child(4){
                    >div{
                        background-image: url("../img/art-1/street/street3.jpg");
                        height: 69vh;
        
                        @include md{
                            height: 110vh;
                        }
                        
                        @include lg{
                            height: 98vh;
                        }

                        @include xl{
                            height: 120vh;
                        }
                    }

                    
                }
                li:nth-child(5){
                    >div{
                        background-image: url("../img/art-1/street/volscale1.jpg");
                    }
                    
                }
                li:nth-child(6){
                    >div{
                        background-image: url("../img/art-1/street/volscale2.jpg");
                    }
                    
                }
                li:nth-child(7){
                    >div{
                        background-image: url("../img/art-1/street/volscale3.jpg");
                    }
                    
                }
        }
        
        
    
    
    }

    


   