/* =============
    woodmere-1
============= */

#woodmere {

    #woodmere-hero {

        background-image: url("../img/work-2/woodmere/tickets.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;

            @include md {
                height: 50vh;
            }
    
            @include lg {
                height: 100vh;
            }
        
        

        
    }

    #woodmere-main {
        position: relative;
        background-color: $bkgd-gray;

        >div {

            ul {
                @include md {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-areas: "objective about"". process";
                    column-gap: 75px;
                    margin: 0px 25px;
                }

                @include lg {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    grid-template-areas: "objective about process";
                    column-gap: 100px;
                    margin: 0px 45px;
                }

                @include xl {
                    margin: 0px;
                }

                li {
                    span {
                        display: block;
                        margin-bottom: 15px;

                        @include md {
                            margin-bottom: 20px;
                        }

                        @include lg {
                            margin-bottom: 25px;
                        }

                    }
                }


                li:nth-child(1) {
                    @include md {
                        grid-area: objective;
                    }
                }

                li:nth-child(2) {
                    @include md {
                        grid-area: about;
                    }
                }

                li:nth-child(3) {
                    @include md {
                        grid-area: process;
                    }
                }
            }
        }


    }

    #woodmere-gallery {
        position: relative;
        background-color: $bkgd-gray;

        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(10, 250px);
                gap: 20px;

                @include md {
                    grid-template-rows: repeat(10, 500px);
                }


                @include lg {
                    display: grid;
                    grid-template-columns: 50% auto;
                    grid-template-rows: repeat(7, 400px);
                    grid-template-areas:
                        "w1 w1"
                        "w2 w2"
                        "w3 w3"
                        "w4 w5"
                        "w7 w6"
                        "w8 w8"
                        "w9 w10";
                    column-gap: 25px;
                    margin: 0px 25px;

                }

                li {
                    img {

                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;

                        @include lg {
                            object-fit: cover;
                        }

                    }

                }

                li:nth-child(1) {
                    img {
                        object-fit: cover;
                    }

                    @include lg {
                        grid-area: w1;
                    }

                }

                li:nth-child(2) {

                    @include lg {
                        grid-area: w2;

                    }

                }

                li:nth-child(3) {
                    @include lg {
                        grid-area: w3;
                    }

                }



                li:nth-child(4) {
                    @include lg {
                        grid-area: w4;
                    }

                }

                li:nth-child(5) {
                    @include lg {
                        grid-area: w5;
                    }

                }


                li:nth-child(6) {
                    @include lg {
                        grid-area: w6;

                        img {
                            object-fit: cover;
                        }
                    }

                }

                li:nth-child(7) {
                    @include lg {
                        grid-area: w7;

                        img {
                            object-fit: cover;
                        }
                    }

                }

                li:nth-child(8) {
                    @include lg {
                        grid-area: w8;

                        img {
                            object-fit: cover;
                        }

                    }

                }

                li:nth-child(9) {
                    @include lg {
                        grid-area: w9;

                        img {
                            object-fit: cover;
                        }
                    }

                }

                li:nth-child(10) {
                    @include lg {
                        grid-area: w10;

                        img {
                            object-fit: cover;
                        }
                    }

                }
            }

        }

    }


    #w-youtube-video-1 {
        display: grid;
        grid-template-areas: ". video .";
        grid-template-columns: 10px auto 10px;

        >div {
            align-items: center;
            display: flex;
            grid-area: video;
            justify-content: center;

            section {
                width: 100%;

                iframe {
                    width: 100%;
                }
            }
        }
    }


    #woodmere-gallery-process-1 {
        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                gap: 20px;

                @include lg {
                    display: grid;
                    grid-template-rows: repeat(1, 1fr);
                    grid-template-columns: repeat(2, 1fr);

                }
                

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }
                }

            }

        }
    }

    #woodmere-gallery-process-2 {
        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                gap: 20px;

                @include lg {
                    display: grid;
                    grid-template-rows: repeat(1, 1fr);
                    grid-template-columns: repeat(3, 1fr);

                }

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }

                }

            }
        }
    }

}