/* =============
    woodmere-1
============= */

#woodmere {

    #woodmere-hero {

        background-image: url("../img/work-2/proj-woodmere.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 45vh;

            @include md {
                height: 50vh;
            }
    
            @include lg {
                height: 100vh;
            }

        
    }

    #woodmere-main {
        position: relative;
        background-color: $bkgd-gray;

        >div {

            h3{
                span {
                    display: block;
                    margin-bottom: 15px;

                    @include md {
                        margin-bottom: 20px;
                    }

                    @include lg {
                        margin-bottom: 25px;
                    }

                }
            }

            ul {
                @include md{
                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    // grid-template-rows: repeat(2, 1fr);
                    // grid-template-areas: "objective about" ". process";
                    // column-gap: 75px;
                    // margin: 0px 25px;
                    margin: 0px 300px 0px 25px;
                }

                @include lg {
                //     display: grid;
                //     grid-template-columns: repeat(3, 1fr);
                //     grid-template-rows: repeat(1, 1fr);
                //     grid-template-areas: "objective about process";
                //     column-gap: 25px;
                    margin: 0px 500px 0px 0px;
                }

                @include xl {
                    margin: 0px 500px 0px 0px;
                }

                li {
                    span {
                        display: block;
                        margin-bottom: 15px;

                        @include md {
                            margin-bottom: 20px;
                        }

                        @include lg {
                            margin-bottom: 25px;
                        }

                    }
                }


                li:nth-child(1) {
                    @include md {
                        grid-area: objective;
                    }
                }

                li:nth-child(2) {
                    @include md {
                        grid-area: about;
                    }
                }

                li:nth-child(3) {
                    @include md {
                        grid-area: process;
                    }
                }
            }
        }


    }

    #woodmere-gallery {
        position: relative;
        background-color: $bkgd-gray;

        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(9, 250px);
                // gap: 20px;

                @include md {
                    grid-template-rows: repeat(9, 500px);
                }


                @include lg {
                    display: grid;
                    grid-template-rows: repeat(9, 600px);
                    // column-gap: 25px;
                    // margin: 0px 25px;

                }

                @include xl {
                    display: grid;
                    grid-template-rows: repeat(9, 800px);
                    // column-gap: 25px;
                    // margin: 0px 25px;

                }

                li {
                    img {

                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;

                    }

                }

            }

        }

    }


    // #w-youtube-video {
    //     display: grid;
    //     grid-template-areas: ". video .";
    //     grid-template-columns: 10px auto 10px;

    //     >div {
    //         align-items: center;
    //         display: flex;
    //         grid-area: video;
    //         justify-content: center;

    //         section {
    //             width: 100%;

    //             iframe {
    //                 width: 100%;
    //             }
    //         }
    //     }
    // }


    #woodmere-product {
        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(4, 320px);
                // gap: 20px;

                @include md {
                    grid-template-rows: repeat(4, 550px);
                }

                @include lg {
                    display: grid;
                    grid-template-rows: repeat(2, 350px);
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 25px;

                }

                @include xl {
                    display: grid;
                    grid-template-rows: repeat(2, 450px);
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 25px;

                }

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }

                }

                
            
            }

        }
    }

    #woodmere-touchpoint {
        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(3, 320px);
                // gap: 20px;

                @include md {
                    grid-template-rows: repeat(3, 600px);
                }

                @include lg {
                    display: grid;
                    // grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(3, 700px);

                }

                @include xl {
                    display: grid;
                    // grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(3, 900px);

                }

                li {
                    img {

                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;

                        // @include lg {
                        //     object-fit: contain;
                        // }

                    }

                }
            
            }

        }
    }

    #woodmere-applications {
        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(6, 320px);
                // gap: 20px;

                @include md {
                    grid-template-rows: repeat(6, 600px);
                }

                @include lg {
                    display: grid;
                    grid-template-rows: repeat(3, 400px);
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 25px;

                }


                @include xl {
                    display: grid;
                    grid-template-rows: repeat(3, 450px);
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 25px;

                }

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }

                }

            
            }

        }
    }


    #woodmere-process {
        >div {

            ul {
                display: grid;
                grid-template-rows: repeat(4, 1fr);
                // gap: 20px;

                @include lg {
                    display: grid;
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 25px;

                }
                

                li {
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }
                }

            }

        }
    }

    

}