/* =============
    work-1
============= */

#work-1 {

        background-color: $white;
        width: 100%;
        color: $dark-blue;

    >div{

        div{
            @include md{
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
              
            #intro {
        
                padding: 100px 131px 0px 10px;
                margin: 0px;
        
                @include md{
                    padding: 0px 60px 0px 100px;   
                }
        
                @include lg{
                    padding: 0px 40px 0px 121px;         
                }
        
                    h1 {
                        font-family: 'Inter', sans-serif;
                        font-size: rem-calc(40);
                        font-weight: 700;
                        text-align: right;
                        margin-bottom: 15px;
        
                        @include md{
                            font-size: rem-calc(70);  
                            margin-bottom: 20px;
                        }
        
                        @include lg{
                            font-size: rem-calc(80);  
                            margin-bottom: 20px;
                        }
                        
                    }
            
                    h3 {
                        font-family: 'Gelasio', serif;
                        font-size: rem-calc(16);
                        font-weight: 700;
                        text-align: right;
                        margin-bottom: 15px;
        
                        @include md{
                            font-size: rem-calc(17);  
                            margin-bottom: 20px;     
                        }
        
                        @include lg{
                            font-size: rem-calc(18);  
                            margin-bottom: 20px;     
                        }
                    }
                
                
            }
        
            #intro-description {
        
                @include md{
                    padding-top: 350px;
                }
        
                p {
                    font-family: 'Gelasio', serif;
                    font-size: rem-calc(16);
                    line-height: rem-calc(24);
                    font-weight: 700;
                    text-align: left;
        
                    margin: 30px 10px 90px 170px ;
        
                    @include md{
                        font-size: rem-calc(17);
                        line-height: rem-calc(26);
                        margin: 0px 140px 25px 60px ;
                    }
        
                    @include lg{
                        margin: 0px 370px 20px 40px ;
                    }
                }
        
                #location{
                    
                    line-height: rem-calc(26);
        
                    p{
                        font-size: rem-calc(17);
                        
                        
                        span{
                            display: block;
                            
                        }
                    }
                }
            }
        }

    }

    #scroll-button {
        text-align: center;
        scroll-behavior: smooth;
        @include md{
            margin-top: 100px;
        }
        

        p{
            margin-bottom: 15px;

            @include md{
                margin-bottom: 25px;
            }
        }
        
        a:link,
        a:visited {
            color: $gray;
            text-decoration: none;
            transition: 0.25s;
        }

        a:hover,
        a:active {
            color: $gray;
        }

        >div{
            padding-bottom: 15px;

            @include md{
                padding-bottom: 25px;
            }

            @include lg{
                padding-bottom: 125px;
            }
            
            hr{
                background-color: white;
                width: 130px;
            }
            

        }
    }
    


}