/* =============
    work-2
============= */

#work-2 { 
    
    

        // @include md {
        //     margin: 0px 25px;
        // }

        // @include lg {
        //     margin: 0px;
        // }

        >div {

            ul {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(11, 1fr);
                // gap: 20px;
                gap: 10px;

                @include md {
                    display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(11, 1fr);
                    // gap: 20px;
                    gap: 10px;
                }

                @include lg {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(6, 1fr);
                    // gap: 25px;
                    gap: 15px;
                }


                li {
                    
                    >div {
                        align-items: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        display: flex;
                        height: 40vh;
                        justify-content: center;
                        text-align: center;
                        
                        // a:hover{
                        //     transition: .25s;
                        //     transform: scale(1.1);
                        // }

                        @include md {
                            height: 48vh;
                        }

                        @include lg {
                            height: 50vh;
                        }

                        @include xl {
                            // height: 45vh;
                            height: 70vh;
                        }

                            h4 {
                                font-family: 'Inter', sans-serif;
                                font-weight: 500;
                                // font-size: rem-calc(20);
                                font-size: rem-calc(22);
                                color: $white;

                                display: flex;
                                // align-items: center;
                                align-items: flex-start;
                                // justify-content: center;
                                justify-content: left;

                                padding: 25px 0px 5px 25px;

                                @include md{
                                    font-size: rem-calc(30);
                                    padding: 40px 0px 5px 40px;
                                }

                                @include lg{
                                    // font-size: rem-calc(30);
                                    font-size: rem-calc(30);
                                    padding: 40px 0px 5px 40px;
                                }

                                @include xl{
                                    // font-size: rem-calc(30);
                                    font-size: rem-calc(32);
                                    padding: 50px 0px 5px 50px;
                                }
                            }

                            p {
                                font-family: 'Inter', sans-serif;
                                // font-weight: 500;
                                font-weight: 400;
                                // font-size: rem-calc(16);
                                font-size: rem-calc(15);
                                color: $white;

                                display: flex;
                                // align-items: center;
                                align-items: flex-start;
                                // justify-content: center;
                                justify-content: left;

                                padding: 0px 0px 25px 25px;

                                @include md{
                                    font-size: rem-calc(18);
                                    padding: 0px 0px 40px 40px;
                                }

                                @include lg{
                                    // font-size: rem-calc(20);
                                    font-size: rem-calc(16);
                                    padding: 0px 0px 40px 40px;
                                }

                                @include xl{
                                    // font-size: rem-calc(20);
                                    font-size: rem-calc(18);
                                    padding: 0px 0px 50px 50px;
                                }
                            }

                            span{
                                display: block;
                            }

                            

                    }
                }
            }


            li:nth-child(1) {
                >div {
                    // background-image: url("../img/work-2/proj-sleepground.jpg");
                    background-image: url("../img/work-2/sleepground/thumbnail.gif");
                    // background-size: 125%;
                    // @include lg{
                    //     background-position: -60px -150px;
                    // }
                    
                    // margin-bottom: 30px;
                    

                    // @include md {
                    //     margin: 0;
                    // }

                }


            }

            li:nth-child(2) {
                >div {
                    // background-image: url("../img/work-2/proj-fruit.jpg");
                    background-image: url("../img/work-2/deeply-fruit/motion.gif");
                    
                    background-size: 120%;

                    @include xl{
                        background-size: 158%;
                        background-position: -60px -150px;
                    }
                    
                    // margin-bottom: 30px;
                    

                    // @include md {
                    //     margin: 0;
                    // }

                }


            }

            li:nth-child(3) {
                >div {
                    background-image: url("../img/work-2/proj-orchards.jpg");
                    
                    // margin-bottom: 30px;
                    

                    // @include md {
                    //     margin: 0;
                    // }

                }


            }

            li:nth-child(4) {
                >div {
                    background-image: url("../img/work-2/proj-books.jpg");
                    // margin-bottom: 30px;
                    background-size: 130%;

                    @include md {
                        margin: 0;
                    }
                }


            }


            li:nth-child(5) {
                >div {
                    // background-image: url("../img/work-2/proj-morning.jpg");
                    background-image: url("../img/work-2/morning-again/exterior/motion.gif");
                    // background-size: 130%;
                    // background-position: -100px -120px;
                    
                    
                    // margin-bottom: 30px;

                    // @include md {
                    //     margin: 0;
                    // }

                }


            }


            li:nth-child(6) {
                >div {
                    // background-image: url("../img/work-2/proj-woodmere.jpg");
                    background-image: url("../img/work-2/woodmere/product/gift-packaging-2.png");
                    
                    // margin-bottom: 30px;
                    background-size: 140%;

                    @include md {
                        margin: 0;
                    }
                }


            }

            


            

            
            li:nth-child(7) {
                >div {
                    background-image: url("../img/work-2/artspaceh/main/motion.gif");
                    
                    // margin-bottom: 30px;
                    // background-size: 130%;

                    // @include md {
                    //     margin: 0;
                    // }
                }


            }

            li:nth-child(8) {
                >div {
                    background-image: url("../img/work-2/cinegraph-studios/main/motion.gif");
                    
                    // margin-bottom: 30px;
                    // background-size: 130%;

                    // @include md {
                    //     margin: 0;
                    // }
                }


            }

            li:nth-child(9) {
                >div {
                    // background-image: url("../img/work-2/proj-mahler.jpg");
                    background-image: url("../img/work-2/gustav-mahler/motion.gif");
                    
                    // margin-bottom: 30px;

                    // @include md {
                    //     margin: 0;
                    // }
                }


            }

            li:nth-child(10) {
                >div {
                    background-image: url("../img/work-2/frank-auerbach/julia/julia_2.jpg");
                    
                    // margin-bottom: 30px;

                    // @include md {
                    //     margin: 0;
                    // }

                }


            }

            

            // li:nth-child(11) {
            //     >div {
            //         background-image: url("../img/work-2/proj-band.jpg");
                    
            //         // margin-bottom: 30px;
            //         // background-size: 130%;

            //         // @include md {
            //         //     margin: 0;
            //         // }
            //     }


            // }

            li:nth-child(11) {
                >div {
                    background-image: url("../img/work-2/home-kitchen/motion.gif");
                    
                    // margin-bottom: 30px;
                    // background-size: 90%;
                    // background-position: -145px -50px;
                    background-position: left;

                    // @include md {
                    //     margin: 0;
                    // }
                }


            }




            // li:nth-child(11) {
            //     >div {
            //         background-image: url("../img/work-2/proj-perused.jpg");
                    
            //         // margin-bottom: 30px;

            //         // @include md {
            //         //     margin: 0;
            //         // }

            //     }
            // }

            


            // li:nth-child(13) {
            //     >div {
            //         background-image: url("../img/work-2/proj-copenhagen.jpg");
                    
            //         // margin-bottom: 30px;

            //         // @include md {
            //         //     margin: 0;
            //         // }

            //     }
            // }


            // li:nth-child(14) {
            //     >div {
            //         background-image: url("../img/work-2/proj-barragan.jpg");
                    
            //         // margin-bottom: 30px;

            //         // @include md {
            //         //     margin: 0;
            //         // }

            //     }


            // }

            // li:nth-child(14) {
            //     >div {
            //         background-image: url("../img/work-2/proj-bodoni.jpg");
                    
            //         // margin-bottom: 30px;

            //         // @include md {
            //         //     margin-bottom: 0px;
            //         // }

            //     }


            // }


            

            // li:nth-child(13) {
            //     >div {
            //         background-image: url("../img/work-2/proj-flower.jpg");
                    
            //         // margin-bottom: 30px;
            //         // background-size: 100%;
            //         // background-position: -180px -50px;
            //         background-position: center;

            //         // @include md {
            //         //     margin-bottom: 0px;
            //         // }
            //     }


            // }

            // li:nth-child(14) {
            //     >div {
            //         background-image: url("../img/work-2/proj-miracles.jpg");
                    
            //         // margin-bottom: 30px;

            //         // @include md {
            //         //     margin-bottom: 0px;
            //         // }

            //     }


            // }

            

            // li:nth-child(16) {
            //     >div {
            //         background-image: url("../img/work-2/proj-aesop.jpg");
                    
            //         // @include md{
            //         //     margin-bottom: 125px;
            //         // }

            //     }


            // }

            // li:nth-child(12) {
            //     >div {
            //         background-image: url("../img/work-2/proj-ocean.jpg");

            //         @include md{
            //             margin-bottom: 125px;
            //         }

            //     }


            // }


        }



}