/* =============
    Header
============= */
header {
    background-color: transparent;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    >div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // padding: 20px 0px;
        padding: 10px 0px;
        
        // grid-template-areas: "logo burger"
        //     "nav nav";
        // grid-template-columns: 80% auto;

        // @include lg {
        //     grid-template-areas: "logo nav";
        //     grid-template-columns: 50% auto;
        // }

        #logo-container {
            // grid-area: logo;

            h1 {
                color: $light-blue;
                // font-family: 'Inter', sans-serif;
                font-family: 'Gelasio', serif;
                // font-size: rem-calc(24);
                font-size: rem-calc(38);
                font-weight: 600;
                // grid-area: heading;
                padding-left: 20px;

                display: flex;
                align-items: center;
                justify-content: flex-start;

                @include md {
                    padding-left: 30px;
                    justify-content: flex-start;
                    width: initial;
                }

                @include lg {
                    padding-left: 30px;
                    width: initial;
                }


                a:link,
                a:visited {
                    color: $light-blue;
                    text-decoration: none;
                    transition: 0.25s;
                }

                // a:hover,
                // a:active {
                //     color: $dark-blue;
                // }

            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            // grid-area: burger;
            justify-content: flex-end;
            padding-right: 20px;

            @include md {
                padding-right: 30px;
            }

            // @include lg {
            //     display: none !important;
            // }

            #burger {
                cursor: pointer;
                transition: 0.25s;

                .lines {
                    stroke: $light-blue;
                    transition: 0.25s;
                }

                // &:hover {

                //     .lines {
                //         stroke: $dark-blue;
                //     }
                // }
            }
        }


       

        // #nav-container {

        //     background-color: $white;
        //     display: none;
        //     // grid-area: nav;

        //     @include lg {
        //         background-color: $white;
        //         display: grid !important;
        //     }

        //     ul {
        //         height: 100%;
        //         text-align: right;

        //         @include lg {
        //             display: flex;
        //             align-items: center;
        //             justify-content: flex-end;
        //         }

        //         li {
        //             font-family: 'Inter', sans-serif;
        //             font-weight: 600;
        //             margin-bottom: 30px;
        //             padding-right: 25px;

        //             @include lg {
        //                 font-size: rem-calc(18);
        //                 align-items: center;
        //                 justify-content: center;
        //                 display: flex;
        //                 margin: 0px 50px 0 0;
        //                 padding: 0px;
        //             }

        //             a:link,
        //             a:visited {
        //                 color: $light-blue;
        //                 text-decoration: none;
        //                 transition: 0.25s;
        //             }

        //             a:hover,
        //             a:active {
        //                 color: $dark-blue;
        //             }
        //         }
        //     }
        // }

        // h1 {

        //     a:link,
        //     a:visited {
        //         color: $light-blue;
        //         text-decoration: none;
        //         transition: 0.25s;
        //     }

        //     a:hover,
        //     a:active {
        //         color: $dark-blue;
        //     }
        // }

    }
}

#main-nav {
    background-color: rgba(137, 166, 173, 0.97);
    // background-color: rgba(125, 193, 193, 0.93);
    bottom: 0;
    display: grid;
    height: 100vh;
    left: 0;
    place-items: center;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 90;
    padding-top: 30px;

    ul {

        @include lg {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }


        li {

            a:link,
            a:visited {
                // font-family: 'Inter', sans-serif;
                // font-size: rem-calc(40);
                // font-weight: 500;
                // border: none;
                // display: inline-block;
                // // padding: 15px 0px 15px 10px;
                // padding-bottom: 40px;
                // text-align: left;
                // width: 100%;
                // color: $white;
                // text-decoration: none;
                // transition: 0.25s;

                font-family: 'Gelasio', serif;
                font-size: rem-calc(60);
                font-weight: 600;
                border: none;
                display: inline-block;
                // padding: 15px 0px 15px 10px;
                padding-bottom: 40px;
                text-align: left;
                width: 100%;
                color: $white;
                text-decoration: none;
                transition: 0.25s;

                @include md {
                    font-size: rem-calc(65);
                }

                @include lg {
                    font-size: rem-calc(65);
                
                }

                @include xl {
                    font-size: rem-calc(70);
                }

                &:hover,
                &:active {
                    color: $dark-blue;
                }
            }

        }

        
            li:nth-child(1){
                @include md{
                    margin-right: 50px;
                }
            }

            li:nth-child(2){
                @include md{
                    margin-right: 50px;
                }
            }
            
        
    }

}