/* =============
    Header
============= */
header {
    background-color: $white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    >div {
        display: grid;
        grid-template-areas: "logo burger"
            "nav nav";
        grid-template-columns: 80% auto;

        @include lg {
            grid-template-areas: "logo nav";
            grid-template-columns: 50% auto;
        }

        #logo-container {
            grid-area: logo;
            padding: 15px 25px;

            @include lg {
                padding: 25px 45px;
            }

            @include xl{
                padding: 25px 0px;
            }

            h1 {
                color: $light-blue;
                font-family: 'Inter', sans-serif;
                font-size: rem-calc(23);
                font-weight: 600;
                grid-area: heading;
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-end;
            padding: 15px 25px;

            @include lg {
                display: none !important;
            }

            i {
                color: $light-blue;
                cursor: pointer;
                font-size: rem-calc(25);
            }
        }

        #nav-container {
            background-color: $white;
            display: none;
            grid-area: nav;

            @include lg {
                background-color: $white;
                display: grid !important;
            }

            ul {
                li {
                    font-family: 'Inter', sans-serif;
                    font-size: rem-calc(16);
                    font-weight: 600;

                    @include lg {
                        font-size: rem-calc(18);
                    }
                }
            }
        }
    }
}