/* =============
    Header
============= */
header {
    background-color: $white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    >div {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 20px 0px;
        // grid-template-areas: "logo burger"
        //     "nav nav";
        // grid-template-columns: 80% auto;

        // @include lg {
        //     grid-template-areas: "logo nav";
        //     grid-template-columns: 50% auto;
        // }

        #logo-container {
            // grid-area: logo;

            h1 {
                color: $light-blue;
                font-family: 'Inter', sans-serif;
                font-size: rem-calc(22);
                font-weight: 600;
                grid-area: heading;
                padding-left: 15px;

                display: flex;
                align-items: center;
                justify-content: center;

                @include md {
                    padding-left: 30px;
                    justify-content: flex-start;
                    width: initial;
                }

                @include lg {
                    padding-left: 25px;
                    width: initial;
                }
    
                @include xl{
                    // padding-left: 25px;
                }
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            // grid-area: burger;
            justify-content: flex-end;
            padding-right: 15px;

            @include md{
                padding-right: 30px;
            }

            // @include lg {
            //     display: none !important;
            // }

            #burger{
                cursor: pointer;
                transition: 0.25s;
    
                .lines{
                    stroke: $light-blue !important;
                    transition: 0.25s;
                }
    
                &:hover{
    
                    .lines{
                        stroke: $dark-blue !important;
                    }
                }
            }
        }

        // #nav-container {
        //     background-color: $white;
        //     display: none;
        //     grid-area: nav;

        //     @include lg {
        //         background-color: $white;
        //         display: grid !important;
        //     }

        //     ul {
        //         li {
        //             font-family: 'Inter', sans-serif;
        //             font-size: rem-calc(16);
        //             font-weight: 600;

        //             @include lg {
        //                 font-size: rem-calc(18);
        //             }
        //         }
        //     }
        // }

        
    }
}