/* =============
    Buttons
============= */
.button {
    align-items: center;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: rem-calc(20);
    font-weight: 600;
    justify-content: center;

    a:link,
    a:visited {
        background-color: $bkgd-gray;
        border: 2px solid $light-blue;
        // border-radius: 5px;
        border-radius: 30px;
        color: $light-blue;
        padding: 10px 20px;
        transition: 0.25s;
    }

    a:hover,
    a:active {
        background-color: $light-blue;
        color: $white;
    }
}


.scroll-button{

    font-family: 'Inter', sans-serif;
    font-size: rem-calc(20);
    font-weight: 600;
    background-color: transparent;
    border-radius: 30px;
    color: $gray;
    cursor: pointer;
    padding: 0px;
    margin:0;
    border: none;
    text-align: center;

    
}

button:focus {outline:0;}

button:link,
button:visited{
    color: $gray;

    @include lg{
        transition: 0.25s;
        color: $gray;
        font-family: 'Inter', sans-serif;
        font-size: rem-calc(16);
        font-weight: 600;
        background-color: transparent;
        border-radius: 30px;
        color: $gray;
        cursor: pointer;
        // padding: 0px;
        margin:0;
        border: none;
        text-align: center;
    }
    
}

button:hover,
button:active{
    color: $gray;
    @include lg{
        color: $light-blue;
    }
    
    
}
